<h2>八個欄位都要填！</h2>

<form action="/restaurants" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="image(URL)" name="image">
  <input type="text" placeholder="location" name="location">
  <input type="text" placeholder="phone" name="phone">
  <input type="text" placeholder="google_map(URL)" name="google_map">
  <input type="text" placeholder="rating(1-5)" name="rating">
  <input type="text" placeholder="description" name="description">
  <button type="submit">Create</button>
</form>